if(true)	# 1.0.5
	ARDUINO_SDK_DIR = 'c:/Program Files (x86)/Arduino/'
	ARDUINO_ARCHITECTURE = ''
else	# 1.5.x
	ARDUINO_SDK_DIR = 'c:/Programs/arduino-1.5.7/'
	ARDUINO_ARCHITECTURE = 'avr/'
end
ARDUINO_LIB_DIR = 'c:/Users/foobar/Documents/Arduino/libraries/'
ARDUINO_COM_PORT = :default
